<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="times">
        <img class="photo1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPGuQfDXDE28zUsqB8IoDP0uWv4f8fDGuUqm4HfRBJBA&s" alt="">
    </button>
    <a class="navbar-brand" href="#">Org_Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> --}}
      </ul>
    </div>
  </div>
</nav>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>